
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Projeto RSA</title>
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>

	<style>
		html, body {
			height: 100%;
			margin: 0;
		}
		.leaflet-container {
			height: 100%;
			width: 100%;
			max-width: 100%;
			max-height: 100%;
		}
	</style>	
</head>

<body>

  <div id="map" style="width: 100%; height: 100%;"></div>
  <script>

    var map = L.map('map').setView([37.657, -8.08], 17);

    var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

	var carIcon = L.Icon.extend({
		options: {
			iconSize:     [100, 95],
			iconAnchor:   [50, 50],
			popupAnchor:  [30, -36]
		}
	});

	var car_obu1 = new carIcon({iconUrl: "{{url_for('static', filename='red-car_icon.png')}}"});
	var car_obu2 = new carIcon({iconUrl: "{{url_for('static', filename='yellow-car_icon.png')}}"});
	var car_obu3 = new carIcon({iconUrl: "{{url_for('static', filename='orange-car_icon.png')}}"});
	var car_obu4 = new carIcon({iconUrl: "{{url_for('static', filename='green-car_icon.png')}}"});

	var lat1 = 37.6614
	var lat2 = 37.6613
	var lat3 = 37.6612
	var lat4 = 37.6611
	var long = -8.0810

	var mObu1 = L.marker([lat1, long], {icon: car_obu1}).bindPopup('OBU1').addTo(map);
	var mObu2 = L.marker([lat2, long], {icon: car_obu2}).bindPopup('OBU2').addTo(map);
	var mObu3 = L.marker([lat3, long], {icon: car_obu3}).bindPopup('OBU3').addTo(map);
	var mObu4 = L.marker([lat4, long], {icon: car_obu4}).bindPopup('OBU4').addTo(map);
	
	const source = new EventSource("/realtimedata");
  	source.onmessage = function (event) {
		const data = JSON.parse(event.data);
		lat1 = data.obu1
		lat2 = data.obu2
		lat3 = data.obu3
		lat4 = data.obu4
	}

  // updates the coordinates
  setInterval(function () {
    mObu1.setLatLng([lat1, long]).update();
    mObu2.setLatLng([lat2, long]).update();
	mObu3.setLatLng([lat3, long]).update();
    mObu4.setLatLng([lat4, long]).update();
  }, 200);



  </script>

</body>
</html>
